<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sf.eclipsefp.haskell.core.launch.HaskellLaunchDelegate">
<stringAttribute key="ARGUMENTS" value="--interactive &quot;C:\Users\guill\OneDrive\Documentos\GitHub\Haskell\Pruebas\Hoja 2\src\Ejercicios.hs&quot;"/>
<stringAttribute key="EXECUTABLE" value="C:\Users\guill\Desktop\EclipseComplete\ghc-7.8.3\bin\ghc.exe"/>
<stringAttribute key="FIRST_SELECTED_RESOURCE" value="Ejercicios.hs"/>
<stringAttribute key="PROJECT_NAME" value="Hoja 2"/>
<stringAttribute key="WORKING_DIRECTORY" value="C:\Users\guill\OneDrive\Documentos\GitHub\Haskell\Pruebas\Hoja 2"/>
</launchConfiguration>
